.skills {
  width: 100%;
  height: 100%;
  min-height: 25rem;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.skills__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

.title-skills {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-skills-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.title-skills-content-img {
  width: 3rem;
  height: 3rem;
}

.title-skills-content-des {
  font-size: 0.8rem;
  text-align: center;
  color: var(--color-terciario);
}

.title-skills-content-level {
  color: var(--color-secundario);
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .skills {
    width: 100%;
    height: 100%;
    min-height: 25rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
  }

  .skills__content {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .title-skills {
    display: flex;
    justify-content: end;
  }

  .title-skills-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-skills-content {
    height: 100%;
  }
}
