.app__games__tetris {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #191919;
  z-index: 9999999999999999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__games__tetris__canvas {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app__games__tetris__canvas__content__start {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__games__tetris__canvas__content__start__button {
  border: none;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  background: #229fff;
  border: 2px solid #155a8f;
  box-shadow: -3px -3px 1px inset #0000002e;
  padding-bottom: 0.2rem;
  padding-right: 0.1rem;
}

.app__games__tetris__canvas__buttons {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: #ff5722;
  border: 1px solid #d84315;
  box-shadow: -3px -3px 1px inset #0000002e;
  padding-bottom: 0.2rem;
  padding-right: 0.1rem;
}

.start {
  display: none;
}

.app__games__tetris__canvas__content {
  position: relative;
  outline: 2px solid rgba(255, 255, 255, 0.118);
}

.app__games__tetris__canvas__score {
  margin-left: 1rem;
  width: 20%;
  height: 20%;
  outline: 2px solid rgba(255, 255, 255, 0.118);
  border-radius: 0.4rem;
}

.app__games__tetris__canvas__score__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.app__games__tetris__canvas__score__content__title {
  font-size: 2.2rem;
}

.app__games__tetris__canvas__score__content__title span:nth-child(1) {
  color: #00b0f0;
}
.app__games__tetris__canvas__score__content__title span:nth-child(2) {
  color: #f79c42;
}
.app__games__tetris__canvas__score__content__title span:nth-child(3) {
  color: #27ae60;
}
.app__games__tetris__canvas__score__content__title span:nth-child(4) {
  color: #e91e63;
}
.app__games__tetris__canvas__score__content__title span:nth-child(5) {
  color: #f1c40f;
}

.app__games__tetris__canvas__score__content__score {
  font-weight: 600;
  font-size: 2em;
  color: #fff;
}
