/* ===================== general ============================== */

.social__content__background__app {
  width: 90%;
  background-color: #fff;
  border-radius: var(--border-radius-med);
  outline: 1px solid #dedddd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========================= pag 1 ============================= */
.pag1 {
  min-height: 22rem;
}

.social__content__background__app__fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  overflow: hidden;
  border-radius: var(--border-radius-med) var(--border-radius-med) 0 0;
  .social__content__background__app__fondo__picture {
    width: 100%;
    height: 100%;
    .social__content__background__app__fondo__picture__img {
      width: 100%;
    }
  }
}

.social__content__background__app__content {
  width: 94%;
  height: 75%;
  min-height: 15rem;
  z-index: 3;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}
.social__content__background__app__content__grid {
  width: 100%;
  display: flex;
}

/* User */
.user {
  grid-row: 1;
  grid-column: 1;
}
.social__content__background__app__user {
  height: 100%;
}
.social__content__background__app__user__perfil {
  width: 100%;
  display: flex;
}
.social__content__background__app__user__perfil__img {
  width: 5rem;
}
.social__content__background__app__user__info {
  font-size: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  margin-top: 0.7rem;
}
.social__content__background__app__user__info__title {
  text-wrap: nowrap;
}

.social__content__background__app__user__links {
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
 gap: 1rem;
 margin-top: 1rem;
}

.card_link {
  width: 100%;
  outline: 1px solid #dedddd;
  padding: .5rem;
  color: var(--color-sexto);
  font-weight: 600;
  font-size: .8em;
  border-radius: var(--border-radius-min);
  background-color: #f2f1f0;
  cursor: pointer;
}

/* University */
.unv {
  grid-row: 1;
  grid-column: 2;
  place-self: end;
  height: 75%;
  display: flex;
  justify-content: end;
  align-items: start;
}
.social__content__background__app__unervisity {
  height: 2rem;
}
.social__content__background__app__unervisity__content {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.social__content__background__app__unervisity__img {
  width: 1.2rem;
  margin-top: 0.3rem;
}
.social__content__background__app__unervisity__text {
  font-size: 0.2em;
  text-wrap: nowrap;
}


@media (min-width: 450px) {
  .unv {
    height: 70%;
  }
}

/* ========================= pag 2 ============================= */

.mainLin_skills {
  margin-bottom: 1rem;
}

/* Links */
.links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}
.social__content__background__app__links-nav__skills__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  max-width: 10rem;
  margin: 2rem 0;
}
.social__content__background__app__skills {
  width: 100%;
}
.skills-frontend-content-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background: #f2f1f0;
  border-radius: var(--border-radius-min);
  outline: 1px solid #f2f1f0;
}
.skills-frontend-content-card-img {
  width: 60%;
}

.skills-frontend-content-card-span {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.social__content__background__app__info-skills {
  width: 60%;
  height: 90%;
  padding: .5rem;
  margin:  0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  border-radius: var(--border-radius-med);
  outline: 1px solid #dedddd;
  background: #f2f1f0;
  position: relative;
}
.social__content__background__app__info-skills__imagen {
  width: 3rem;
}
.social__content__background__app__info-skills__imagen__img {
  width: 100%;
}

.social__content__background__app__info-skills__text {  
  font-size: .6em;
}
.social__content__background__app__info-skills__text__title {
  font-size: 1.4em;
  font-weight: 700;
}
.social__content__background__app__info-skills__text__description {
  color: #373737;  
}
.social__content__background__app__info-skills__text__level {
  position: absolute;
  font-size: 1.3em;
  font-weight: 700;
  color: var(--color-secundario);
  text-transform: uppercase;
  letter-spacing:  0.1em;
  bottom: 5%;
}