.app__folder__content {
  height: calc(93% - 4rem);
  display: flex;
}

/* content ul */
.app__folder__content__list {
  width: 7rem;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
  padding-top: 1rem;
  border-right: 1px solid #d1d1d143;

  /* ul */
  .app__folder__content__list__ul {
    list-style: none;
    width: 90%;
    display: grid;
    gap: 0.5rem;

    /* li */
    .app__folder__content__list__ul__list {
      width: 90%;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      padding: 3px;
      border-radius: 0.1rem;

      /* li elemts */
      .app__folder__content__list__ul__list__img {
        width: 0.8rem;
      }
      p {
        color: #d1d1d1;
        font-size: 0.7em;
        font-weight: 100;
      }
    }
  }
}

.app__folder__content__list__ul__list:hover {
  background-color: #ffffff1e;
}

.app__folder__content__elemts {
  width: calc(100% - 7rem);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  .app__folder__content__elemts__content {
    width: 90%;
    height: 90%;
    display: flex;
    gap: 1rem;

    .app__folder__content__elemts__content__icone {
      width: 4rem;
      height: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
      gap: 0.3rem;

      img {
        width: 2rem;
        height: 2rem;
      }
      p {
        color: #d1d1d1;
        font-size: 0.6em;
      }
    }
  }

  .app__folder__content__elemts__content__icone:hover {
    background-color: #ffffff15;
  }
}
