.Javascript_card {
  position: absolute;
  width: 60%;
  height: 100%;
  background: var(--color-sexto);
  opacity: 1;
  z-index: -1;
  border-radius: var(--border-radius-min);
}

.Javascript_card::after {
  content: "60%";
  position: relative;
  top: 100%;
  left: 85%;
}

.React_card {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--color-sexto);
  opacity: 1;
  z-index: -1;
  border-radius: var(--border-radius-min);
}

.React_card::after {
  content: "50%";
  position: relative;
  top: 100%;
  left: 85%;
}

.Html_card {
  position: absolute;
  width: 80%;
  height: 100%;
  background: var(--color-sexto);
  opacity: 1;
  z-index: -1;
  border-radius: var(--border-radius-min);
}

.Html_card::after {
  content: "80%";
  position: relative;
  top: 100%;
  left: 85%;
}

.Css_card {
  position: absolute;
  width: 85%;
  height: 100%;
  background: var(--color-sexto);
  opacity: 1;
  z-index: -1;
  border-radius: var(--border-radius-min);
}

.Css_card::after {
  content: "85%";
  position: relative;
  top: 100%;
  left: 85%;
}

.Bootstrap_card {
  position: absolute;
  width: 40%;
  height: 100%;
  background: var(--color-sexto);
  opacity: 1;
  z-index: -1;
  border-radius: var(--border-radius-min);
}

.Bootstrap_card::after {
  content: "40%";
  position: relative;
  top: 100%;
  left: 85%;
}

.Scss_card {
  position: absolute;
  width: 30%;
  height: 100%;
  background: var(--color-sexto);
  opacity: 1;
  z-index: -1;
  border-radius: var(--border-radius-min);
}

.Scss_card::after {
  content: "30%";
  position: relative;
  top: 100%;
  left: 85%;
}
