.app__icone {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}
.link, .app__icone {
  max-width: 7ch;
}

.app__icone__name {
  color: var(--color-principal);
  text-shadow: var(--Font-shadow);
  font-size: var(--Font-size);
  font-weight: var(--Font-weight);
  max-width: 15ch;
  text-wrap: nowrap;
}

.window:hover {
  background-color: #ffffff1a;
}

.header {
  height: 2.3rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.header img {
  width: 1.7rem;
}

.header p {
  display: none;
}

