@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 0.3rem; /* Anchura de la barra de desplazamiento */
}
/* Estilo del agarre de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #acacac1d; /* Color del agarre */
  border-radius: 2px; /* Bordes redondeados */
}

:root {
  /* colors */

  --color-principal: #d8d8d8;
  --color-secundario: #5c77ff;
  --color-terciario: #dfecff;
  --color-cuarto: #717d91;
  --color-quinto: #121212;
  --color-sexto: #151516;
  --color-background-window: #15151656;
  --color-principal-background: #99999920;
  --color-gray: #242426;

  /* border */

  --border-radius-max: 20px;
  --border-radius-med: 7px;
  --border-radius-min: 2px;

  /* box shadow */

  --box-shadow: 0 0 10px 2px #0000001a;

  /* font-size */

  --font-size-max: 2em;
  --font-size-med: 1.3em;
  --font-size-med_min: 0.8em;
  --font-size-min: 0.7em;
  --Font-size: 0.5em;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto";
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  animation-name: startScroll;
  animation-duration: 14s;
  animation-fill-mode: forwards;
}

body {
  width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-sexto);
  overflow: hidden;
}
