.app__google {
  z-index: 1;
  outline: 2px solid rgba(139, 139, 139, 0.511);
  overflow: hidden;
  scroll-behavior: smooth;
  transition: width 0.3s ease-in-out;
  position: absolute;
  background-color: var(--color-quinto);
}

.google-content {
  width: 100%;
  height: calc(100% - 4rem);
  position: relative;
  display: flex;
  z-index: 3;
  overflow-x: hidden;
}
