/* =============================== header ==================================== */

.header__portofolio {
  position: sticky;
  width: 100%;
  top: 0%;
  display: flex;
  justify-content: start;
  padding-left: 1.5rem;
  z-index: 9;
  height: 3rem;
}

.header__nav {
  display: flex;
  justify-content: start;
}

