/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 0.3rem; /* Anchura de la barra de desplazamiento */
}
/* Estilo del agarre de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #5c77ff; /* Color del agarre */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo del agarre de la barra de desplazamiento al pasar el cursor sobre él */
::-webkit-scrollbar-thumb:hover {
  filter: #3c58e0; /* Color del agarre al pasar el cursor sobre él */
}

.portofolio {
  position: absolute;
  width: 100%;
  background-color: var(--color-quinto);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  outline: 2px solid blue;
}

.portofolio__content {
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 2px solid blue;
}